<ion-header>
  <ion-toolbar>
    <ion-title>
      หน้าบวก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ตัวตั้ง -->
  <ion-item>
    <ion-label>ตัวตั้ง</ion-label>
    <ion-input type="number" [(ngModel)]="Set"></ion-input>
  </ion-item>
  <!-- ตัวบวก -->
  <ion-item>
    <ion-label>ตัวบวก</ion-label>
    <ion-input type="number" [(ngModel)]="Plus"></ion-input>
  </ion-item>
<!-- ผลลัพย์ -->
  <ion-item>
    <ion-label>ผลลัพย์</ion-label>
    <ion-input value="{{result}}"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="onClickCal(Set,Plus)">
    คำนวณ
  </ion-button>
</ion-content>
